body {
    background-color: antiquewhite;
    display: flex;
    display: inline-block;
}

.div {

  }
  
.main {
    display: flex;
    flex-wrap: wrap;
  }

#header {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    /* display: inline-block; */
    margin: 10px;
    width: 600px;
    height: 600px;

}
#blogForm {
    border: 2px solid black;
    padding: 20px;
    /* display: inline-block; */
    margin: 10px;
    width: 600px;
    height: 600px;
    
}