body {
  background-color: lightcyan;
  color: rgb(29, 0, 132);
}

main {
  display: flex;
}
main div {
  width: 50%;
}

.button {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: yellow;
  color: navy;
}

/* dark mode */
.dark {
  background-color: rgb(29, 0, 132);
  height: 100vh;
  color: rgb(238, 234, 253);
}

.dark footer a {
  color: white;
  text-decoration: none;
}

/* light mode */
.light {
  background-color: lightcyan;
  color: rgb(29, 0, 132);
  height: 100vh;
}

footer {
  border: 2px solid rgb(29, 0, 132);
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
footer a {
  color: rgb(106, 51, 247);
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .media-query {
      flex-basis: 100%;
  }
}